.navbar{
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    

}    

.navbar li{
    float: left;
    align-items: flex-start;
    align-content: center;
    justify-content: end;
    text-align: end;
    padding: 14px 16px;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    

}

.navbar li a:hover{
    background-color:white;
    color: #111;
}

